.skeleton {
  background-color: lightslategray;
  border-radius: 0.5rem;
  width: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.skeleton.avatar {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  margin-bottom: 20px;
}

.skeleton.stat {
  width: 6rem;
  margin: 10px 10px;
}

.skeleton.progress {
  width: 50%;
  height: 0.2rem;
  border-radius: 9999px;
}
